.env

node_modules

bundle.js
bundle-prod.js

coverage/


#Large data files
restaurants/data
restaurants/csv-data
reservations/data
reservations/csv-data
slots/csv-files
slots/seatsOnly.js



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
