.env

node_modules

bundle.js
bundle-prod.js

coverage/

restaurants/data
restaurants/csv-data
reservations/data
reservations/csv-data

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
